@charset "UTF-8";
/*    padding: 5px 10px;	    /*верх 5 низ  5 лево 10 право 10*/
/*    padding: 5px 10px 15px;	    /*верх 5 низ 15 лево 10 право 10*/
/*    padding: 5px 10px 15px 20px;  /*верх 5 право 10 низ по 15, лево 20*/
.al{align:left;}
.vam{vertical-align: middle;}

.min200 {min-height: 200px;}
.min250 {min-height: 250px;}
.min260 {min-height: 260px;}
.min300 {min-height: 300px;}
.min500 {min-height: 500px;}
.min530 {min-height: 530px;}
.min550 {min-height: 550px;}
.min570 {min-height: 570px;}
.min600 {min-height: 600px;}

.minw150 {min-width: 150px;}
.minw200 {min-width: 200px;}
.minw300 {min-width: 300px;}
.minw400 {min-width: 400px;}
.maxw130 {max-width: 130px;}
.maxw300 {max-width: 300px;}
.maxw328 {max-width: 328px;}
.maxw400 {max-width: 400px;}
.max200 {max-width: 200px;}
.max600 {max-width: 600px;}

.ui-corner-bottom0{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ui-corner-top0{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.center{text-align:center;}
.middle{vertical-align:middle;}
.border0{border:none;}
.border1{border:1px #AAAAAA solid;}
.borderTop0{border-top: none;}
.borderTop1{border-top: 1px #AAAAAA solid;}
.borderBottom0{border-bottom: none;}
.borderColor{
/*    нельзя включать!!! border:1px #AAAAAA solid;*/
    border-color: rgb(221, 221, 221);
}

.bc1{background-color: #00A5FF;}
.bc2{background-color: #FFA500;}
.bc3{background-color: #A5FF00;}
.bc4{background-color: #00FFA5;}
.bc5{background-color: #FFD700;}
.bc6{background-color: #00D700;}
.bc7{background-color: #FF9999;}
.bc8{background-color: #ABCDEF;}
.bc9{background-color: #DDAADD;}
.bc10{background-color:#FFDDAA;}
.bc11{background-color:#C1C1C1;}
.bc12{background-color:#FFFFCC;} /*lightyellow*/
.bc13{background-color:#F0FFFF;} /*Aquamarine*/

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pr10{padding-right:10px;}
.pr50{padding-right:50px;}
.pt5 {padding-top:5px;}
.pt10{padding-top:10px;}
.pt50{padding-top:50px;}
.p0  {padding:0px;}
.p5  {padding:5px;}
.p10 {padding:10px;}
.pt0 {padding-top:0px;}
.pb0 {padding-bottom: 0px;}

.wauto{width:auto;}
.w5p{width:5%;}
.w10p{width:10%;}
.w20p{width:20%;}
.w25p{width:25%;}
.w30p{width:30%;}
.w33p{width:33%;}
.w40p{width:40%;}
.w45p{width:45%;}
.w50p{width:50%;}
.w60p{width:60%;}
.w70p{width:70%;}
.w75p{width:75%;}
.w80p{width:80%;}
.w90p{width:90%;}
.w95p{width:95%;}
.w100p{width:100%;}

.w20{width:20px;}
.w30{width:30px;}
.w32{width:32px;}
.w40{width:40px;}
.w50{width:50px;}
.w64{width:64px;}
.w70{width:70px;}
.w80{width:80px;}
.w78{width:78px;}
.w90{width:90px;}
.w100{width:100px;}
.w120{width:120px;}
.w128{width:128px;}
.w130{width:130px;}
.w135{width:135px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:200px;}
.w210{width:210px;}
.w230{width:230px;}
.w240{width:240px;}
.w250{width:250px;}
.w260{width:260px;}
.w270{width:270px;}
.w300{width:300px;}
.w310{width:310px;}
.w328{width:328px;}
.w330{width:330px;}
.w336{width:336px;}
.w340{width:340px;}
.w350{width:350px;}
.w400{width:400px;}
.w430{width:430px;}
.w450{width:450px;}
.w500{width:500px;}
.w550{width:550px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w970{width:970px;}
.w1024{width:1110px;}

.hauto{height:auto;}
.h0{height:0px;}
.h20{height:20px;}
.h25{height:25px;}
.h30{height:30px;}
.h36{height:36px;}
.h40{height:40px;}
.h45{height:45px;}
.h60{height:60px;}
.h75{height:75px;}
.h91{height:91px;}
.h100{height:100px;}
.h150{height:150px;}
.h300{height:300px;}
.h350{height:350px;}
.h370{height:370px;}
.h400{height:400px;}
.h450{height:450px;}
.h500{height:500px;}
.h530{height:530px;}
.h550{height:550px;}
.h570{height:570px;}
.h80p{height:80%;}
.h90p{height:90%;}
.h100p{height:100%;}

.fl{float:left;}
.db{display:block;}

.pa{padding:auto}
.ma{margin:auto}
.m0{margin:0 0 0 0}
.m5{margin:5px;}
.m10{margin:10px}
.mt-9{margin-top: -9px}
.mt-10{margin-top: -10px}
.mt0{margin-top: 0px}
.mt2{margin-top: 2px;}
.mt5{margin-top: 5px}
.mt7{margin-top: 7px}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.mt40{margin-top: 40px}
.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml-10{margin-left:-10px}
.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mb0{margin-bottom: 0px}
.mb2{margin-bottom: 2px;}
.mb5{margin-bottom: 5px}
.mb10{margin-bottom: 10px}

.fontb{font-weight: bolder}
.font10{font-size: 10px}
.font11{font-size: 11px}
.font12{font-size: 12px}
.font13{font-size: 13px}
.font14{font-size: 14px}

.TAL{text-align:left;}
.TAR{text-align:right;}
.TAC{text-align:center;}

.ti{tabindex:-1;}
.ti0{tabindex:0;}
.ti10{tabindex:10;}

h3{
    margin-bottom: 3px;
    font-weight: bold;
}
label{
    width: 120px;	
    margin-bottom: 0px;
}
legend{
    /*border:1px #AAA solid;*/
    margin:5px 0;
    /*line-height:30px;*/
    font-size : 16px;
    font-weight: bold;
    color : #555;
}

.floatL {
    float:left;
}
div.frameL {/*?????????*/
    float:left;
    /*width : 25%;
    height : 100%;*/
}
div.frame1 {/*?????????*/
    /*display: inline-block;*/
    overflow-y:auto;
    vertical-align:top;
}
input{
/*    line-height: normal;*/
    border:1px #AAA solid;
}
input:disabled{
    border:1px #AAA solid;
}
input:focus{
    border:1px #AAA solid;
}
input[type='text'], input[type='password'], textarea {
/*    background: #FFF;*/
    background: #FCFCFC;
    border: 1px solid #CCCCCC;
    margin-left: 0px;
    margin-right: 0px;
/*    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 3px;*/
    vertical-align: middle;
}
.input-group-sm > .input-group-btn > .btn {
    height: 30px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.scroll-y{
    overflow-y: scroll;
}

.table > thead > tr > th {
    font-size: 12px;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 4px;
}
.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td {
    border-bottom: 0px solid #dddddd;
    text-align:center;
    vertical-align: middle;
}
.vtext{
/*    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
    color: #AAAAAA;*/
    word-wrap: break-word;
}
#lpanel {
    position: fixed;
    top: 50px;
    left: -200px;
/*    background: #FCFCFC;*/
    width: 200px;
    height: 100%;
    z-index: 100;
    padding: 0 0 0 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(90deg,rgb(248, 248, 248) 0%, rgb(228, 228, 228) 60%);
}
#lpanel_button {
    position: fixed;
    top: 30%;
    left: 0;
    width: 30px;
/*    height: 250px;
    height: 30%;*/
    background: #0094d6;
/*    color: #fff;*/
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index: 100;
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(90deg, rgb(228, 228, 228) 0%, rgb(248, 248, 248) 80%);
}
#lpanel_button:hover {
    left: 200px;
}
#lpanel_button:hover #lpanel {
    left: 0;
}
/* это мой стиль Kaluga */
#a_name_cabinet {
    padding-top: 5px;
    padding-bottom: 5px;
}

.line-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.bar-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.radar-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.polararea-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.pie-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.doughnut-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

/*перебиваем bootstrap*/
body {
    font-family: "trebuchet ms", Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    min-width: 450px;
/*    line-height:20px;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    line-height: 1.42857143;*/
}
li {
    font-size: 14px;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    padding: 5px 5px;
}
.navbar-brand {
    line-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 5px;
}
.nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
}
.nav-tabs > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-tabs {
    border-bottom: none;
}
/******************************/
.btn-blue {
    color: #ffffff;
    background-color: #033c73;
    border-color: #033c73;
}
.btn-blue:focus,
.btn-blue.focus {
    color: #ffffff;
    background-color: #022241;
    border-color: #000000;
}
.btn-blue:hover {
    color: #ffffff;
    background-color: #022241;
    border-color: #011d37;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    color: #ffffff;
    background-color: #022241;
    border-color: #011d37;
}
.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {
    color: #ffffff;
    background-color: #01101f;
    border-color: #000000;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    background-image: none;
}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
    background-color: #033c73;
    border-color: #033c73;
}
.btn-blue .badge {
    color: #033c73;
    background-color: #ffffff;
}
.btn-blue {
    background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff02325f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #022241;
}
/******************************/
.btn-yellow {
    color: #ffffff;
    background-color: #f5e625;
    border-color: #f5e625;
}
.btn-yellow:focus,
.btn-yellow.focus {
    color: #ffffff;
    background-color: #ddce0a;
    border-color: #948a07;
}
.btn-yellow:hover {
    color: #ffffff;
    background-color: #ddce0a;
    border-color: #d3c50a;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
    color: #ffffff;
    background-color: #ddce0a;
    border-color: #d3c50a;
}
.btn-yellow:active:hover,
.btn-yellow.active:hover,
.open > .dropdown-toggle.btn-yellow:hover,
.btn-yellow:active:focus,
.btn-yellow.active:focus,
.open > .dropdown-toggle.btn-yellow:focus,
.btn-yellow:active.focus,
.btn-yellow.active.focus,
.open > .dropdown-toggle.btn-yellow.focus {
    color: #ffffff;
    background-color: #bbae09;
    border-color: #948a07;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
    background-image: none;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus {
    background-color: #f5e625;
    border-color: #f5e625;
}
.btn-yellow .badge {
    color: #f5e625;
    background-color: #ffffff;
}
/******************************/
.btn-orange {
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
    background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #aa4200;
}
.btn-orange {
    color: #ffffff;
    background-color: #dd5600;
    border-color: #dd5600;
}
.btn-orange:focus,
.btn-orange.focus {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #5e2400;
}
.btn-orange:hover {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #a03e00;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #a03e00;
}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
    color: #ffffff;
    background-color: #863400;
    border-color: #5e2400;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
    background-image: none;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus {
    background-color: #dd5600;
    border-color: #dd5600;
}
.btn-orange .badge {
    color: #dd5600;
    background-color: #ffffff;
}
.btn-purple {
    color: #ffffff;
    background-color: #772953;
    border-color: #772953;
}
.btn-purple:focus,
.btn-purple.focus {
    color: #ffffff;
    background-color: #511c39;
    border-color: #180811;
}
.btn-purple:hover {
    color: #ffffff;
    background-color: #511c39;
    border-color: #491933;
}
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
    color: #ffffff;
    background-color: #511c39;
    border-color: #491933;
}
.btn-purple:active:hover,
.btn-purple.active:hover,
.open > .dropdown-toggle.btn-purple:hover,
.btn-purple:active:focus,
.btn-purple.active:focus,
.open > .dropdown-toggle.btn-purple:focus,
.btn-purple:active.focus,
.btn-purple.active.focus,
.open > .dropdown-toggle.btn-purple.focus {
    color: #ffffff;
    background-color: #371326;
    border-color: #180811;
}
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
    background-image: none;
}
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled.focus,
.btn-purple[disabled].focus,
fieldset[disabled] .btn-purple.focus {
    background-color: #772953;
    border-color: #772953;
}
.btn-purple .badge {
    color: #772953;
    background-color: #ffffff;
}
.btn-gray {
    color: #ffffff;
    background-color: #474949;
    border-color: #474949;
}
.btn-gray:focus,
.btn-gray.focus {
    color: #ffffff;
    background-color: #2e2f2f;
    border-color: #080808;
}
.btn-gray:hover {
    color: #ffffff;
    background-color: #2e2f2f;
    border-color: #292a2a;
}
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
    color: #ffffff;
    background-color: #2e2f2f;
    border-color: #292a2a;
}
.btn-gray:active:hover,
.btn-gray.active:hover,
.open > .dropdown-toggle.btn-gray:hover,
.btn-gray:active:focus,
.btn-gray.active:focus,
.open > .dropdown-toggle.btn-gray:focus,
.btn-gray:active.focus,
.btn-gray.active.focus,
.open > .dropdown-toggle.btn-gray.focus {
    color: #ffffff;
    background-color: #1c1d1d;
    border-color: #080808;
}
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
    background-image: none;
}
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled.focus,
.btn-gray[disabled].focus,
fieldset[disabled] .btn-gray.focus {
    background-color: #474949;
    border-color: #474949;
}
.btn-gray .badge {
    color: #474949;
    background-color: #ffffff;
}
.btn-gray {
    background-image: -webkit-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-image: -o-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d7070), color-stop(50%, #474949), to(#3d3f3f));
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070', endColorstr='#ff3d3f3f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2e2f2f;
}
.btn-gray:hover {
    background-image: -webkit-linear-gradient(#636565, #3d3f3f 50%, #333434);
    background-image: -o-linear-gradient(#636565, #3d3f3f 50%, #333434);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#636565), color-stop(50%, #3d3f3f), to(#333434));
    background-image: linear-gradient(#636565, #3d3f3f 50%, #333434);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff636565', endColorstr='#ff333434', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #242525;
}
.btn-lilac {
    color: #ffffff;
    background-color: #9b479f;
    border-color: #9b479f;
}
.btn-lilac:focus,
.btn-lilac.focus {
    color: #ffffff;
    background-color: #79377c;
    border-color: #452047;
}
.btn-lilac:hover {
    color: #ffffff;
    background-color: #79377c;
    border-color: #723475;
}
.btn-lilac:active,
.btn-lilac.active,
.open > .dropdown-toggle.btn-lilac {
    color: #ffffff;
    background-color: #79377c;
    border-color: #723475;
}
.btn-lilac:active:hover,
.btn-lilac.active:hover,
.open > .dropdown-toggle.btn-lilac:hover,
.btn-lilac:active:focus,
.btn-lilac.active:focus,
.open > .dropdown-toggle.btn-lilac:focus,
.btn-lilac:active.focus,
.btn-lilac.active.focus,
.open > .dropdown-toggle.btn-lilac.focus {
    color: #ffffff;
    background-color: #612c63;
    border-color: #452047;
}
.btn-lilac:active,
.btn-lilac.active,
.open > .dropdown-toggle.btn-lilac {
    background-image: none;
}
.btn-lilac.disabled:hover,
.btn-lilac[disabled]:hover,
fieldset[disabled] .btn-lilac:hover,
.btn-lilac.disabled:focus,
.btn-lilac[disabled]:focus,
fieldset[disabled] .btn-lilac:focus,
.btn-lilac.disabled.focus,
.btn-lilac[disabled].focus,
fieldset[disabled] .btn-lilac.focus {
    background-color: #9b479f;
    border-color: #9b479f;
}
.btn-lilac .badge {
    color: #9b479f;
    background-color: #ffffff;
}
.btn-lilac,
.btn-lilac:hover {
    background-image: -webkit-linear-gradient(#a54caa, #9b479f 6%, #914294);
    background-image: -o-linear-gradient(#a54caa, #9b479f 6%, #914294);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a54caa), color-stop(6%, #9b479f), to(#914294));
    background-image: linear-gradient(#a54caa, #9b479f 6%, #914294);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa54caa', endColorstr='#ff914294', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #79377c;
}
.btn-orangel {
    color: #ffffff;
    background-color: #ff9800;
    border-color: transparent;
}
.btn-orangel:focus,
.btn-orangel.focus {
    color: #ffffff;
    background-color: #cc7a00;
    border-color: rgba(0, 0, 0, 0);
}
.btn-orangel:hover {
    color: #ffffff;
    background-color: #cc7a00;
    border-color: rgba(0, 0, 0, 0);
}
.btn-orangel:active,
.btn-orangel.active,
.open > .dropdown-toggle.btn-orangel {
    color: #ffffff;
    background-color: #cc7a00;
    border-color: rgba(0, 0, 0, 0);
}
.btn-orangel:active:hover,
.btn-orangel.active:hover,
.open > .dropdown-toggle.btn-orangel:hover,
.btn-orangel:active:focus,
.btn-orangel.active:focus,
.open > .dropdown-toggle.btn-orangel:focus,
.btn-orangel:active.focus,
.btn-orangel.active.focus,
.open > .dropdown-toggle.btn-orangel.focus {
    color: #ffffff;
    background-color: #a86400;
    border-color: rgba(0, 0, 0, 0);
}
.btn-orangel:active,
.btn-orangel.active,
.open > .dropdown-toggle.btn-orangel {
    background-image: none;
}
.btn-orangel.disabled:hover,
.btn-orangel[disabled]:hover,
fieldset[disabled] .btn-orangel:hover,
.btn-orangel.disabled:focus,
.btn-orangel[disabled]:focus,
fieldset[disabled] .btn-orangel:focus,
.btn-orangel.disabled.focus,
.btn-orangel[disabled].focus,
fieldset[disabled] .btn-orangel.focus {
    background-color: #ff9800;
    border-color: transparent;
}
.btn-orangel .badge {
    color: #ff9800;
    background-color: #ffffff;
}
.btn-orangel {
    -webkit-background-size: 200% 200%;
    background-size: 200%;
    background-position: 50%;
}
.btn-orangel:focus {
    background-color: #ff9800;
}
.btn-orangel:hover,
.btn-orangel:active:hover {
    background-color: #e08600;
}
.btn-orangel:active {
    background-color: #c27400;
    background-image: -webkit-radial-gradient(circle, #c27400 10%, #ff9800 11%);
    background-image: -o-radial-gradient(circle, #c27400 10%, #ff9800 11%);
    background-image: radial-gradient(circle, #c27400 10%, #ff9800 11%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
    background-size: 1000%;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-pink {
    color: #ffffff;
    background-color: #ff0039;
    border-color: #ff0039;
}
.btn-pink:focus,
.btn-pink.focus {
    color: #ffffff;
    background-color: #cc002e;
    border-color: #80001c;
}
.btn-pink:hover {
    color: #ffffff;
    background-color: #cc002e;
    border-color: #c2002b;
}
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
    color: #ffffff;
    background-color: #cc002e;
    border-color: #c2002b;
}
.btn-pink:active:hover,
.btn-pink.active:hover,
.open > .dropdown-toggle.btn-pink:hover,
.btn-pink:active:focus,
.btn-pink.active:focus,
.open > .dropdown-toggle.btn-pink:focus,
.btn-pink:active.focus,
.btn-pink.active.focus,
.open > .dropdown-toggle.btn-pink.focus {
    color: #ffffff;
    background-color: #a80026;
    border-color: #80001c;
}
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
    background-image: none;
}
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled.focus,
.btn-pink[disabled].focus,
fieldset[disabled] .btn-pink.focus {
    background-color: #ff0039;
    border-color: #ff0039;
}
.btn-pink .badge {
    color: #ff0039;
    background-color: #ffffff;
}
/**********************************/
.bgig{
    background-color: transparent;
/*    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);*/
    background-image: linear-gradient(to top, rgba(127, 127, 0, .4) 0%, rgba(0, 0, 0, .0001) 100%);
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
/*    left: 50%;
    width: 60%;
    margin-left: -30%;*/
    padding-left: 0;
}
.carousel-caption {
    position: absolute;
    /*    right: 15%;
	left: 15%;*/
    /*    right: 0;
	left: 0;*/
    bottom: -20px;
    z-index: 10;
    /*    padding-top: 20px;
	padding-bottom: 20px;*/
    text-align:center;
    color: #777;
    /*    background-color: #CCC;*/
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.carousel-indicators {
    position: relative;
    top: 7px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(127, 127, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image:      -o-linear-gradient(left, rgba(127, 127, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 127, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image:         linear-gradient(to right, rgba(127, 127, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(127, 127, 0, .5) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(127, 127, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(127, 127, 0, .5)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(127, 127, 0, .5) 100%);
}

.ui-corner-tab1 {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-jqgrid .ui-jqgrid-pager-empty { 
    height: 8px;
}
.ui-jqgrid .ui-jqgrid-title{
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    display: block;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    height:auto;
}
.ui-jqgrid .ui-jqgrid-htable th {
    height:22px;
}
.ui-jqgrid .ui-search-table td.ui-search-clear{
    width: auto;
    padding-left: 3px;
}
.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-input{ 
    padding: 0;
    text-align: right;
    height: 18px;
    border-radius: 4px;
    border:1px #CCCCCC solid;
    margin-top: -1px;
    line-height: 19px;
    font-size: 11px;
    margin-top: -2px;
}
.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox{
    margin-top: -2px;
    padding: 0;
    height: 18px;
    border:1px #CCCCCC solid;
    line-height: 19px;
    font-size: 11px;
}
.ui-jqgrid .ui-search-table .ui-search-input>input,
.ui-jqgrid .ui-search-table .ui-search-input>select{
    height: 20px;
/*    padding-top: 8px;*/
    line-height: 18px;
}
.ui-jqgrid .ui-search-table select, .ui-jqgrid .ui-search-table input{
    padding: 1px 2px;
}
.ui-datepicker {
    position: relative;
/*    position: absolute !important;*/
/*    top: auto !important;*/
/*    left: auto !important;*/
}
.ui-jqdialog .ui-jqdialog-titlebar { height:auto; }
.ui-jqgrid .ui-jqdialog { font-size:14px; }
.ui-jqdialog { font-size:14px; }
.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {height: 25px;}
.ui-jqgrid .ui-jqgrid-toppager {height: 25px;}
.ui-jqgrid .ui-pg-table {padding: 0px 0;}
.ui-jqgrid .ui-pg-table td {padding:0px 1px;}
.fm-button { height: auto; }

.disabledTab{
    color: #23527c;
    background-color: #f5f5f5;
    pointer-events: none;
}

.pos-btn{
    position: relative;
    top: -22px;
    left: 0;
}

.select2-result-label{
    font-size:12px;
}